name: "Build"

env:
  NIXPKGS_BRANCH: nixpkgs-unstable
  NIX_DARWIN_BRANCH: master
  NIX_VERSION: 2.24.11

on:
  pull_request:
  push:
    branches:
      - master
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
      - name: Run nix flake checks
        run: |
          nix flake check --all-systems
  build-wsl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build and switch on Linux
        run: |
          nix run nixpkgs#nixos-rebuild -- build --accept-flake-config --flake '.#wsl'
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          install_url: https://releases.nixos.org/nix/nix-${{ env.NIX_VERSION }}/install
          nix_path: nixpkgs=channel:${{ env.NIXPKGS_BRANCH }}
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Install channels
        run: |
          sudo nix-channel --add https://nixos.org/channels/${{ env.NIXPKGS_BRANCH }} nixpkgs
          sudo nix-channel --add https://github.com/LnL7/nix-darwin/archive/${{ env.NIX_DARWIN_BRANCH }}.tar.gz darwin
          sudo nix-channel --update
      - name: Rename /etc/hosts file if it exists
        run: sudo mv /etc/hosts /etc/hosts.before-nix-darwin # Rename /etc/hosts file for conflict resolution
      - name: Install nix-darwin
        run: |
          sudo mkdir -p /etc/nix-darwin
          sudo chown $(id -nu):$(id -ng) /etc/nix-darwin
          cd /etc/nix-darwin
          curl -L -o configuration.nix https://raw.githubusercontent.com/LnL7/nix-darwin/master/modules/examples/simple.nix

          nixConfHash=$(shasum -a 256 /etc/nix/nix.conf | cut -d ' ' -f 1)
          sudo /usr/bin/sed -i.bak \
            "s/# programs.fish.enable = true;/ \
              imports = [ \
                ({ options, ... }: { \
                  environment.etc.\"nix\/nix.conf\".knownSha256Hashes = [ \"$nixConfHash\" ]; \
                  nix.nixPath = \
                    [ { darwin = \"${PWD////\/}\"; } ] \
                    ++ options.nix.nixPath.default; \
                }) \
              ]; \
            /" \
          /etc/nix-darwin/configuration.nix

          sudo nix run nix-darwin/nix-darwin-24.11#darwin-rebuild -- switch -I darwin-config=/etc/nix-darwin/configuration.nix \
            -I darwin=$HOME/.nix-defexpr/channels/darwin
      - name: Build nix-darwin configuration
        run: |
          . /etc/bashrc
          darwin-rebuild build --flake '.#macbook'
  build-home-manager:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build home-manager configuration
        run: |
          nix build .#homeConfigurations.server.activationPackage
